@model Hospisim.Models.AltaHospitalar

@{
    ViewData["Title"] = "Conceder Alta Hospitalar";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InternacaoId" />

            <div class="form-group mb-3">
                <label asp-for="CondicaoPaciente" class="control-label"></label>
                <input asp-for="CondicaoPaciente" class="form-control" />
                <span asp-validation-for="CondicaoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="InstrucoesPosAlta" class="control-label"></label>
                <textarea asp-for="InstrucoesPosAlta" class="form-control" rows="5"></textarea>
                <span asp-validation-for="InstrucoesPosAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar Alta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>