@model Hospisim.Models.Internacao

@{
    ViewData["Title"] = "Editar Dados da Internação";
}

<h1>@ViewData["Title"]</h1>

<h4>Paciente: <strong>@Model.Atendimento.Paciente.NomeCompleto</strong></h4>
<p>Atendimento de @Model.Atendimento.DataHora.ToString("dd/MM/yyyy HH:mm")</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="AtendimentoId" />

            <div class="form-group mb-3">
                <label asp-for="StatusInternacao" class="control-label"></label>
                <select asp-for="StatusInternacao" class="form-control">
                    <option value="Ativa">Ativa</option>
                    <option value="Alta concedida">Alta concedida</option>
                    <option value="Transferido">Transferido</option>
                    <option value="Óbito">Óbito</option>
                </select>
                <span asp-validation-for="StatusInternacao" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PrevisaoAlta" class="control-label"></label>
                <input asp-for="PrevisaoAlta" class="form-control" type="date" />
                <span asp-validation-for="PrevisaoAlta" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ObservacoesClinicas" class="control-label"></label>
                <textarea asp-for="ObservacoesClinicas" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ObservacoesClinicas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}