@model Hospisim.Models.Atendimento

@{
    ViewData["Title"] = "Novo Atendimento";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="PacienteId" class="control-label">Paciente</label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId">
                    <option value="">-- Selecione um Paciente --</option>
                </select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProfissionalId" class="control-label">Profissional de Saúde</label>
                <select asp-for="ProfissionalId" class="form-control" asp-items="ViewBag.ProfissionalId">
                    <option value="">-- Selecione um Profissional --</option>
                </select>
                <span asp-validation-for="ProfissionalId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DataHora" class="control-label">Data e Hora do Atendimento</label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar Atendimento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}